.help {
  background-color: #000;
  padding-top: 50px;
  width: 100%;
  height: 130vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.help h1 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 50px;
}

.help-col {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.help-col-head {
  width: 100%;
  height: 70px;
  background-color: #3f3737;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.help-col-head h3 {
  color: #fff;
  letter-spacing: 2px;
  font-weight: 400;
  cursor: pointer;
}

.help-col-head button {
  background-color: transparent;
  color: #fff;
  font-size: 2.3rem;
  font-weight: 300;
  outline: none;
  border: none;
  cursor: pointer;
}

p {
  display: none;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: 100;
  color: #fff;
  border-top: 1px solid #000;
  height: auto;
  padding: 20px 15px;
  background-color: #3f3737;
  transition: all 300ms ease;
}

p.show {
  display: block;
}

.help h2 {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 70px;
  color: #fff;
}

.help .help-form {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  height: 50px;
  display: flex;
}

.help-form .help-email {
  flex: 0.7;
  padding-left: 10px;
  outline: none;
}

.help-form a {
  text-decoration: none;
  color: #fff;
}

.help-form button {
  flex: 0.3;
  background-color: rgb(241, 23, 23);
  font-size: 1.5rem;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: 850px) {
  .help h1 {
    color: #fff;
    font-size: 1.3rem;
    margin-bottom: 50px;
  }
  .help-col-head {
    height: 60px;
    padding: 0px 10px;
  }
  .help-col-head h3 {
    font-size: 0.9rem;
  }
  .help-col-head button {
    font-size: 1.3rem;
  }

  p {
    font-size: 0.8rem;
    font-weight: 100;
    padding: 20px 10px;
  }
  .help h2 {
    font-size: 0.8rem;
    margin-top: 40px;
  }
  .help .help-form {
    height: 47px;
  }
  .help-form button {
    font-size: 0.9rem;
  }
}
